@import "../../mediaqueries.scss";

.login-main {
  height: 100vh;
  padding-top: 100px;
  background-image: url(../../assets/images/logo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  > .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 54%;
    border-radius: 0 200px 0 200px;
    padding: 70px;
    width: 450px;
    transform: translate(-50%, -50%);
    > h2 {
      font-size: 2.3rem;
      font-weight: bold;
      color: white;
      margin-bottom: 2rem;
    }
    > form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      > button {
        width: 100%;
        padding: 16px 0;
        font-size: 1rem;
        background-color: #0e18a0;
        color: #fff;
        font-weight: 900;
        border-radius: 20px;
        border: none;
        outline: none;
        margin: 25px 0 10px;
        cursor: pointer;
        transition: 0.1s ease;
        &:hover {
          background-color: #3039b9;
        }
      }
      > div > .remember-me {
        display: flex;
        align-items: start;
        color: white;
        gap: 15px;
      }
    }
    > div {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 10px;
      padding: 10px 20px;
      > #google {
        cursor: pointer;
        border-radius: 50%;
        &:hover {
          scale: 1.2;
          animation-duration: 5s;
          background-color: #ffffff;
          border-radius: 50%;
        }
      }
      > #github {
        cursor: pointer;
        border-radius: 50%;
        &:hover {
          scale: 1.2;
          animation-duration: 5s;
          border-radius: 50%;
        }
      }
      > #twitter {
        cursor: pointer;
        border-radius: 50%;
        color: white;
        &:hover {
          scale: 1.2;
          animation-duration: 5s;
          border-radius: 50%;
        }
      }
    }
    > p {
      color: white;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      > .go-signup {
        color: rgb(57, 57, 134);
        &:hover {
          color: rgb(90, 90, 143);
        }
      }
    }
  }
}

#email,
#password {
  color: white;
  width: 18rem;
  background-color: rgba(0, 15, 99, 0.712);
  border-radius: 20px;
}
@media (max-width: 280px) {
  .login-main {
    > .form-wrapper {
      align-items: center;
      width: 450px;
      transform: translate(-50%, -50%);
      > h2 {
        font-size: 1.5rem;
      }
      > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > button {
          position: relative;
          width: 50%;
          left: 2rem;
          padding: 10px;
          font-size: 1rem;
        }
        > div > .remember-me {
          flex-direction: column;
          align-items: center;
        }
      }
      > div {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
        padding: 10px 20px;
        > #google {
          background-color: #3039b9;
        }
        > #github {;
          background-color: #3039b9;
        }
        > #twitter {
          cursor: pointer;
          border-radius: 50%;
          color: white;
        }
      }
    }
  }

  #email,
  #password {
    width: 10rem;
    border-radius: 10px;
  }
}
